.advantages{
display: flex;
justify-content: space-between;

.advantages__item{
  position: relative;
  text-align: center;
  .advantages__content{
    .advantages__text {
    padding: 0;
    margin: 0;
    font-size: @font-size-small;
    line-height: 1.71429;
    color:@dark-blue-color;
    }
    .advantages__title {
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
    font-size: @font-size-medium;
    font-weight:@font-wiegnt-bold;
    line-height: 1.33333;
      }
  }
}
}
