.box {
  position: relative;
  background-color: @white-color;
}

.box--gray {
  background-color: @grey-color;
  background-image: url("../img/bg/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100% 25px;
  background-position: left 50% top 0;
}

.box--gray-desktop {
  background-color: @grey-color;
}

.box--no-oblique {
  background-image: none;
}

.box--triangle:after {
  content: "";
  position: absolute;
  z-index: 10;
  min-height: 33px;
  width: 100%;
  background-image: url("../img/bg/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: 100% 33px;
  background-position: left 50% bottom 0;
}
@media only screen and (max-width: @tablet-width) {
  .box--gray-mobile {
    background-color: @grey-color;
  }
}
@media only screen and (min-width: @full-tablet-width) and (max-width:@desktop-width) {
  .box--gray {
    background-size: 100% 55px;
  }

  .box--mobile {
    background-color: transparent;
  }

  .box--triangle:after {
    min-height: 73px;
    background-size: 100% 73px;
  }
}
@media only screen and (min-width: @full-desktop-width) {
  .box--gray {
    background-size: 100% 91px;
  }
.box--triangle{
  padding-left: 19px;
}
  .box--triangle:after {
    min-height: 103px;
    background-size: 100% 103px;
  }

  .box--gray-desktop {
    background-color: @grey-color;
  }

  .box--mobile,
  .box--no-desktop {
    background-color: transparent;
  }
}
