.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1020px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: @full-desktop-width) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
