.downloads {
  background-color: @black-blue-color;
}

.downloads__wrap {
  min-height: 271px;
  padding-top: 28px;
}

.downloads__btn {
  width: 280px;
  margin: 0 auto 30px;
}

.downloads__link-wrap {
  padding-left: 20px;
  padding-right: 20px;
}

.downloads__link {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  margin-right: 35px;
  margin-bottom: 24px;
}

.downloads__link:last-of-type {
  margin-right: 0;
}

.downloads__text {
  text-align: center;
  font-weight: @font-weight-small;
  line-height: 1.71429;
}

.svg-logo-android {
  width: 42.084px;
  height: 47.041px;
}

.svg-logo-apple {
  width: 46.21px;
  height: 56.753px;
}

.svg-logo-microsoft {
  width: 43.922px;
  height: 41.992px;
}
@media only screen and (max-width: @tablet-width) {
  .downloads {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1020px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .downloads__text {
    max-width: 280px;
    margin: 0 auto;
    font-size: @font-size-small;
  }
}
@media only screen and (min-width:@full-tablet-width) {
  .downloads {
    background-color: transparent;
  }

  .downloads__wrap {
    width: 300px;
    padding-top: 30px;
  }

  .downloads__btn {
    width: 300px;
  }

  .downloads__text {
    font-size: @font-size-medium;
    line-height: 1.33333;
  }
}
@media only screen and (min-width:@full-tablet-width) and (max-width:@desktop-width) {
  .downloads {
    width: 50%;
    padding-right: 10px;
  }

  .downloads__wrap {
    width: 300px;
    margin: 0 auto;
  }

  .downloads__btn {
    margin-bottom: 45px;
  }

  .downloads__link {
    margin-bottom: 21px;
  }
}
@media only screen and (max-width:@tablet-width) and (min-width:@full-tablet-width) and (max-width:@desktop-width) {
  .downloads,
  .heading__wrap {
    min-width: 700px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (max-width:@tablet-width) and (min-width:@full-desktop-width) {
  .downloads,
  .heading__wrap {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width:@full-desktop-width) and (min-width:@full-tablet-width) and (max-width:@desktop-width) {
  .downloads,
  .heading__wrap {
    min-width: 700px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: @full-desktop-width) {
  .downloads {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1020px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .downloads__btn {
    margin-bottom: 65px;
  }

  .downloads__link {
    margin-bottom: 39px;
  }
}
@media only screen and (min-width:@full-desktop-width) and (min-width:@full-desktop-width) {
  .downloads,
  .heading__wrap {
    padding-left: 40px;
    padding-right: 40px;
  }
}
