.heading {
  position: relative;
  z-index: 1;
  background-color: @dark-blue-color;
}

.downloads,
.heading__title {
  text-align: center;
  color: @white-color;
}

.heading__title {
  margin: 23px auto 0;
  padding-left: 25px;
  padding-right: 25px;
  font-size: @font-size-bigger;
  line-height: 1.20833;
  font-weight: @font-weight-small;
}

.heading__title--form {
  display: block;
}
@media only screen and (max-width:@tablet-width) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:@tablet-width) and (min-resolution:1.5dppx) {
  .heading__wrap--index {
    background-image: url(../img/intro/iphone-hand-mobile@2x.png), url("../img/bg/bg-back-mobile@2x.jpg");
  }

  .heading__wrap {
    background-image: url("../img/bg/bg-back-mobile@2x.jpg");
  }
}
@media only screen and (max-width:@tablet-width) {
  .heading__wrap {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1020px;
    padding: 70px 20px 52px;
    min-height: 234px;
    background-image: url("../img/bg/bg-back-mobile.jpg");
    background-repeat: no-repeat;
    background-position: bottom center, top 0 left 50%;
  }

  .heading__wrap--index {
    min-height: 458px;
    background-image: url(../img/intro/iphone-hand-mobile.png), url("../img/bg/bg-back-mobile.jpg");
    background-repeat: no-repeat, repeat;
    background-size: auto 285px, cover;
    background-position: bottom 0 left 50%, 50% 50%;
  }

  .heading__title {
    display: none;
  }

  .heading__title--photo {
    display: block;
  }

  .heading__title--form {
    display: block;
  }
}
@media only screen and (max-width:@tablet-width) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:@tablet-width) and (min-resolution:1.5dppx) {
  .heading__wrap--index {
    background-image: url("../img/intro/iphone-hand-mobile@2x.png"), url("../img/bg/bg-back-mobile@2x.jpg");
  }

  .heading__wrap {
    background-image: url("../img/bg/bg-back-mobile@2x.jpg");
  }

  .heading__wrap--index {
    background-image: url("../img/intro/iphone-hand-mobile@2x.png"),url("../img/bg/bg-back-mobile@2x.jpg");
  }
}
@media only screen and (min-width: @full-tablet-width) and (max-width:@desktop-width) {
  .heading {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1020px;
    padding: 158px 20px 79px;
    min-height: 330px;
    background-image: url("../img/bg/bg-back-tablet@1x.jpg");
    background-repeat: repeat;
    background-position: top 0 left 50%;
  }

  .heading--index {
    min-height: 683px;
    padding-bottom: 35px;
    padding-top: 200px;
    padding-left: 0;
    background-image: url(../img/intro/iphone-hand-tablet@1x.png), url("../img/bg/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, repeat;
    background-size: auto 545px, cover;
    background-position: bottom 0 right 37px,50% 50%;
  }

  .heading--form {
    padding-top: 45px;
    padding-bottom: 70px;
  }

  .heading__wrap--index {
    width: 50%;
    padding-right: 10px;
  }

  .heading__title {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 50px;
    line-height: 1.2;
  }

  .heading__title--index {
    padding-left: 46px;
    padding-right: 44px;
    font-size: 40px;
    line-height: 1.2;
  }
}
@media only screen and (min-width:@full-tablet-width) and (max-width:@desktop-width) and (min-width:@full-tablet-width) and (max-width:@desktop-width) {
  .heading {
    min-width: 700px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width:@full-tablet-width) and (max-width:@desktop-width) and (min-width:@full-tablet-width) {
  .heading {
    padding-left: 41px;
    padding-bottom: 80px;
    padding-top: 108px;
  }

  .heading--index {
    padding-right: 115px;
    padding-top: 130px;
  }
}
@media only screen and (min-width:@full-desktop-width) and (min-width:@full-tablet-width) and (max-width:@desktop-width) {
  .downloads,
  .heading__wrap {
    min-width: 700px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width:@full-desktop-width) and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-width:@full-desktop-width) and (min-resolution:1.5dppx) {
  .heading {
    background-image: url("../img/bg/bg-back-desktop.jpg");
  }

  .heading--index:after {
    background-image: url("../img/intro/iphone-hand-desktop@2x.png");
  }
}
@media only screen and (min-width: @full-desktop-width) {
  .heading {
    min-height: 280px;
    padding-top: 150px;
    padding-bottom: 101px;
    background-position: top 0 left 50%;
  }

  .downloads,
  .heading__wrap {
    padding-left: 21px;
    padding-right: 40px;
  }

  .heading,
  .heading--index {
    background-image: url("../img/bg/bg-back-desktop.jpg");
    background-repeat: repeat;
  }

  .heading--index {
    min-height: 853px;
    padding-top: 195px;
    background-size: cover;
    background-position: 49% 50%;
  }

  .heading--index:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;
    height: 645px;
    width: 1020px;
    transform: translateX(-50%);
    background-image: url("../img/intro/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: auto 645px;
    background-position: bottom 0 right -95px;
  }

  .heading__wrap {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1020px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading__title {
    padding-left: 105px;
    padding-right: 90px;
    font-size: 50px;
    line-height: 1.2;
  }
// .heading .heading__wrap--index{
  // padding-left: 21px;
    // padding-right: 40px;
// }
  .heading__title--photo {
    padding-left: 106px;
  }

  .heading__title--index {
    width: 300px;
    padding-left: 62px;
    padding-right: 0;
    margin-bottom: 22px;
    margin-left: 0;
  }
}
