
.logo {
position: relative;
color: @white-color;
width: 150px;
}
.logo__link--active {
cursor: pointer;
}
.logo__link {
color: transparent;
text-shadow: none;
display: block;
}
.logo__svg {
    width: 146.3px;
    height: 40.375px;
}
@media only screen and (max-width:699px){
.logo__link--header {
width: 76px;
overflow: hidden;
height: 24px;
}
}
