.map {
  width: 100%;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: 15% 100%;
  background-color: @grey-color;
}

.map__image {
  height: 200px;
}

.gm-style {
  font: 400 11px Roboto, Arial, sans-serif;
  text-decoration: none;
}

.svg-icon-map-marker {
  position: absolute;
  width: 35.983px;
  height: 35.983px;
  top: 49%;
  left: 46%;
}
@media only screen and (min-width:@full-tablet-width) and (max-width:@desktop-width) {
  .map {
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: 51% 73%;
    background-size: cover;
  }

  .map__image {
    height: 379px;
  }

  .svg-icon-map-marker {
    top: 53%;
    left: 48%;
  }
}
@media only screen and (min-width: @full-desktop-width) {
  .map {
    background-image: url("../img/bg-map-desktop@1x.jpg");
  background-position: 54% 58%;
  }

  .map__image {
    height: 502px;
  }

  .svg-icon-map-marker {
    position: absolute;
    top: 53%;
    left: 50%;
  }
}
