.page-header {
  position: relative;
  z-index: 100;
  width: 100%;
  background-color: @dark-blue-color;
}

.page-header--js {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.page-header--active {
  background-color: @dark-blue-color;
  position: relative;
}

.page-header__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page-header__logo {
  padding-top: 21px;
  min-height: 66px;
}

.page-header__btn-burger {
  position: absolute;
  top: 0;
  right: 20px;
  display: none;
  height: 66px;
  width: 90px;
  cursor: pointer;
  transition: all 0.3s;
}

.page-header__btn-burger--show {
  display: block;
}

.page-header__btn-burger span,
.page-header__btn-burger span:after,
.page-header__btn-burger span:before {
  position: absolute;
  content: "";
  height: 4px;
  width: 50px;
  background-color: #fff;
  transition: all 0.35s ease-in-out;
}

.page-header__btn-burger:hover span,
.page-header__btn-burger:hover span:after,
.page-header__btn-burger:hover span:before {
  background-color: @pink-color;
}

.page-header__btn-burger:active span,
.page-header__btn-burger:active span:after,
.page-header__btn-burger:active span:before {
  background-color: rgba(210,40,86,.3);
}

.page-header__btn-burger span {
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.page-header__btn-burger span:after {
  right: 0;
  top: -10px;
}

.page-header__btn-burger span:before {
  right: 0;
  top: 10px;
}

.page-header__btn-burger--active span,
.page-header__btn-burger--active:hover span {
  background-color: transparent;
  width: 30px;
}

.page-header__btn-burger--active span:after,
.page-header__btn-burger--active span:before {
  top: 0;
  right: -3px;
  width: 30px;
  transition: all 0.35s;
}

.page-header__btn-burger--active span:before {
  transform: rotate(45deg);
}

.page-header__btn-burger--active span:after {
  transform: rotate(-45deg);
}
@media only screen and (max-width: @tablet-width) {
  .page-header,
  .page-header__inner {
    min-height: 66px;
  }
}
@media only screen and (min-width: @full-tablet-width) and (max-width:@desktop-width) {
  .page-header {
    min-height: 110px;
  }

  .page-header--active {
    background-color: @dark-blue-color;
  }

  .page-header__inner {
    min-height: 110px;
  }

  .page-header__logo {
    padding-top: 27px;
    min-height: 110px;
  }

  .page-header__btn-burger {
    height: 110px;
  }
}
@media only screen and (min-width: @full-desktop-width) {
  .logo__letter--mobile, .page-header__btn-burger {
    display: none;}

  .page-header {
    position: absolute;
    top: 0;
    margin-bottom: -110px;
    min-height: 110px;
    background-color: rgba(0, 0, 0, .3);
  }

  .page-header__inner {
    flex-direction: row;
    justify-content: space-between;
    min-height: 110px;
    margin: 0 auto;
    width: 960px;
  }

  .page-header__logo {
    padding-top: 27px;
    min-height: 110px;
  }
}
