.reviews {
  padding-top: 35px;
    padding-bottom: 33px;
}

.reviews__arrow,
.reviews__input,
.reviews__item {
  display: none;
}

.reviews__toggles {
  margin-top: 36px;
  text-align: center;
}

.reviews__toggle {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  margin-right: 14px;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, .3);
  cursor: pointer;
  transition: all 0.3s;
}

.reviews__toggle:last-child {
  margin-right: 0;
}

.reviews__toggle:hover {
  background-color: rgba(40, 54, 69, .6);
}

.reviews__toggle:active {
  background-color: rgba(40, 54, 69, .1);
}

.comment {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: @dark-blue-color;
}

.comment__text {
  font-size: @font-size-small;
  line-height: 2.14286;
}

.comment__author {
  font-size: @font-size-medium;
  line-height: 1.66667;
  font-style: normal;
  font-weight: @font-wiegnt-bold;
  color: @black-color;
}
@media only screen and (max-width: @tablet-width) {
  .comment {
    position: relative;
    padding-top: 29px;
  }

  .comment__text:before {
    content: "«";
  }

  .comment__text:after {
    content: "»";
  }

  .comment__author {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .comment__about-author {
    display: none;
  }
}
@media only screen and (min-width:@full-tablet-width) and (max-width:@desktop-width) {
  .reviews {
    min-height: 290px;
    padding-top: 21px;
    padding-bottom: 0;
  }

  .reviews__toggles {
    margin-top: 37px;
margin-left: -49px;
  }

  .comment__text {
    margin-bottom: 35px;
    font-size: @font-size-medium;
    line-height: 1.66667;
    margin-left: -32px;
    margin-right: 19px;
  }

  .comment__text:before {
    content: "«";
  }

  .comment__text:after {
    content: "»";
  }

  .comment__author {
    display: block;
        margin-right: 46px;
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 1.5;
  }

  .comment__about-author {
    font-size: @font-size-small;
    line-height: 2.14286;
        margin-left: -49px;
  }
}
@media only screen and (min-width: @full-desktop-width) {
  .reviews {
    position: relative;
    padding-top: 167px;
    padding-bottom: 35px;
    background-image: url("../img/bg/quotes.svg");
    background-repeat: no-repeat;
    background-position: 51% 72px;
    z-index: 2;
  }

  .reviews__toggles {
    display: block;
  }

  .reviews__toggle:after,
  .reviews__toggle:before {
    content: "";
    display: none;
    position: absolute;
    top: 219px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-bottom: 2px solid rgba(40, 54, 69, .3);
    border-right: 2px solid rgba(40, 54, 69, .3);
    background-color: transparent;
  }

  .reviews__toggle:hover:after,
  .reviews__toggle:hover:before {
    border-color: rgba(40, 54, 69, .6);
  }

  .reviews__toggle:active:after,
  .reviews__toggle:active:before {
    border-color: rgba(40, 54, 69, .1);
  }

  .reviews__toggle:before {
    left: 5px;
    transform: rotate(135deg);
    left: 15px;
  }

  .reviews__toggle:after {
    right: 5px;
    transform: rotate(-45deg);
    right: -5px;
  }

  .reviews__input:first-of-type:checked~.reviews__toggles .reviews__toggle--3:before,
  .reviews__input:last-of-type:checked~.reviews__toggles .reviews__toggle--1:after,
  .reviews__input[id=toggle-reviews-1]:checked~.reviews__toggles .reviews__toggle--2:after,
  .reviews__input[id=toggle-reviews-2]:checked~.reviews__toggles .reviews__toggle--1:before,
  .reviews__input[id=toggle-reviews-2]:checked~.reviews__toggles .reviews__toggle--3:after,
  .reviews__input[id=toggle-reviews-3]:checked~.reviews__toggles .reviews__toggle--2:before {
    display: block;
  }

  .comment__text {
    margin-bottom: 36px;
    font-size: @font-size-medium;
    line-height: 1.66667;
  }

  .comment__author {
    display: block;
    margin-bottom: 2px;
    font-size: @font-size-bigger;
    line-height: 1.25;
  }

  .comment__about-author {
    font-size: @font-size-medium;
    line-height: 1.66667;
  }
}
