@grey-color: #f2f2f2;
@white-color: #fff;
@dark-blue-color: #283645;
@pink-color: #d22856;
@green-color: #2aab6d;
@dark-green-color: #1c9b5e;
@light-grey-color: #e5e5e5;
@font-size-small: 14px;
@font-size-smallest: 12px;
@font-size-medium: 18px;
@font-wiegnt-bold: 700;
@font-weight-medium: 400;
@font-size-bigger: 24px;
@font-weight-small: 300;
